.category__content, .view-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .category__content h3 {
     font-size: 1rem;
     font-weight: 600;
     text-transform: capitalize;
 }
 .view-all p {
     font-size: .9rem;
     font-weight: 400;
     text-transform: capitalize;
 }
 .view-all i {
     background: var(--orange-color);
     color: var(--white-color);
     font-size: .9rem;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 1.3rem;
     height: 1.4rem;
     min-width: 1.3rem;
     border-radius: .3rem;
     margin-left: .3rem;
 }
 .category__container {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: .5rem 0;
    padding: .5rem 0;
    display: flex;
    gap: 1rem;
 }
 .category__container::-webkit-scrollbar {
     display: none;
 }
 .category__card {
     box-shadow: var(--shadow);
     background: var(--white-color);
     padding: .1rem;
     border-radius: .4rem;
     cursor: pointer;
 }
 .image-box {
     width: 4rem;
     height: 4rem;
 }
 .image-box img {
     object-fit: contain;
     width: 100%;
     height: 100%;
     filter: contrast(1.5);
 }



 /*==========Media Query==========*/
 @media (min-width: 1024px) {
     .category__container {
        align-items: center;
        justify-content: center;
        gap: 2rem;
     }
     .image-box {
         width: 6rem;
         height: 6rem;
     }
     .image-box img {
         transition: var(--transition);
     }
     .image-box:hover img {
         transform: scale(1.1);
     }
 }