.cart__empty {
    text-align: center;
    margin-block-start: 5rem;
    margin-block-end: 3.7rem;
}
.cart__empty p {
    font-size: 1.4rem;
    font-weight: 200;
    margin-block-end: 1rem;
}
.empty__logo {
    font-size: 10rem;
    color: hsla(0, 0%, 100%, 0.637);
}