/*==========Main==========*/
.home {
    width: 100%;
    height: auto;
    margin-block-start: 4rem;
}


/*==========Right Menu==========*/


/*==========Media Query==========*/
@media (min-width: 1024px) {
    .home {
        margin-block-start: 5rem;
    }

}