/*==========Main==========*/
.main {
    width: 100%;
    height: auto;
    margin-block-start: 4rem;
}


/*==========Right Menu==========*/


/*==========Media Query==========*/
@media (min-width: 1024px) {
    .main {
        margin-block-start: 5rem;
    }
    .bottom__menu {
        width: 25%;
        margin-left: 50%;
        transform: translate(-50%);
        bottom: .5rem;
        border-radius: 5rem;
    }
    .banner:hover img {
        transform: translateX(3rem);
    }
    

}